<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Nova Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular.min.js"></script>
    <script src="main.js"></script>
</head>

<body ng-app="ngAppDemo">
    <div ng-controller="ngAppDemoController">
        <div class="mobile-box">
            <div class="card">
                <!--LOGIN SECTION-->
                <div class="login-box" ng-show="activeView === 'login'">
                    <div class="login-snip">
                        <input id="tab-1" type="radio" name="tab" class="sign-in" checked /><label for="tab-1"
                            class="tab">Login</label>
                        <input id="tab-2" type="radio" name="tab" class="sign-up" /><label for="tab-2"
                            class="tab">Registarse</label>
                        <div class="login-space">
                            <div class="login">
                                <div class="group">
                                    <label for="user" class="label">Usuario / Email</label>
                                    <input id="user" type="text" class="input"
                                        placeholder="Ingrese su usuario o email" />
                                </div>
                                <div class="group">
                                    <label for="pass" class="label">Contraseña</label>
                                    <input id="pass" type="password" class="input" data-type="password"
                                        placeholder="Ingrese su contraseña" />
                                </div>
                                <div class="group">
                                    <input id="check" type="checkbox" class="check" checked />
                                    <label for="check"><span class="icon"></span> Mantenerme conectado</label>
                                </div>
                                <div class="group">
                                    <input type="submit" class="button" value="Ingresar" ng-click="login()" />
                                </div>
                                <div class="hr"></div>
                                <div class="foot"><a href="#">Olvidó su contraseña?</a></div>
                            </div>
                            <div class="sign-up-form">
                                <div class="group">
                                    <label for="user" class="label">Nombre de usuario</label>
                                    <input id="user" type="text" class="input"
                                        placeholder="Crea un nombre de usuario" />
                                </div>
                                <div class="group">
                                    <label for="pass" class="label">Contraseña</label>
                                    <input id="pass" type="password" class="input" data-type="password"
                                        placeholder="Crea una nueva contraseña" />
                                </div>
                                <div class="group">
                                    <label for="pass" class="label">Repetir Contraseña</label>
                                    <input id="pass" type="password" class="input" data-type="password"
                                        placeholder="Repetita su nueva Contraseña" />
                                </div>
                                <div class="group">
                                    <label for="pass" class="label">Correo electrónico</label>
                                    <input id="pass" type="text" class="input" placeholder="Ingrese su correo" />
                                </div>
                                <div class="group">
                                    <input type="submit" class="button" value="Registrar" />
                                </div>
                                <div class="hr"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--PRODUCT SECTION-->
                <div class="products-box" ng-show="activeView === 'products'">
                    <div class="products-snip">
                        <!-- Card-->
                        <div class="card rounded shadow-sm border-0">
                            <div class="card-body p-4"><img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556485076/shoes-1_gthops.jpg"
                                    alt="" class="img-fluid d-block mx-auto mb-3">
                                <h5> <a href="#" class="text-dark">Awesome product</a></h5>
                                <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit.</p>
                                <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>